<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="/" class="btn"> Home </a>
    <a href="https://github.com/josharnoldjosh" class="btn"> Github </a>
  <a href="https://www.linkedin.com/in/josh-arnold-8854a2b0" class="btn"> LinkedIn </a>
  <a href="https://stackoverflow.com/users/2872779/josh?tab=profile" class="btn"> Stack Overflow </a>
  <a href="https://drive.google.com/file/d/0B9bkk_najB9FVi0tbUhzNjZJelE/view" class="btn"> Résumé </a>
    <a href="https://itunes.apple.com/nz/developer/josh-arnold/id1229902374" class="btn"> App Store </a>
</section>
