@charset "utf-8";
/* HEADER */
#wrap > header {
	background-color: #333;
	padding-bottom: 20px;
}
.logo {
	display: inline-block;
	font-size: 0;
	padding-top:15px;
}
#navigation {
	position: absolute;
	left: 0px;
	bottom: -2px;
}

#menu-toggle {
	display: none;
	float: right;
}

/* HEADER > MENU */
#main-menu {
	float: right;
	font-size: 0;
}

#main-menu > li {
	display: inline-block;
	padding: 2px 0;
}

#main-menu > li.parent {
	background-image: url(../images/plus-gray.png);
	background-size: 7px 7px;
	background-repeat: no-repeat;
	background-position: left center;
}


#main-menu > li:hover > a,

/* HEADER > MENU > DROPDOWN */
#main-menu li {
	position: relative;
}

ul.sub-menu { /* level 2 */
	display: none;
	left: 0px;
	top: 38px;
	padding-top: 10px;
	position: absolute;
	width: 250px;
	z-index: 9999;
}

ul.sub-menu ul.sub-menu { /* level 3+ */
	margin-top: -1px;
	padding-top: 0;
	left: 250px;
	top: 0px;
}

ul.sub-menu > li > a {
	display: block;
	width:100%;
	padding:12px 12px!important;
	top:0px!important;
	font-size:15px!important;
	border-radius:0px!important;
	border-bottom:1px dotted #555;
}

ul.sub-menu > li > a:hover { 
	padding:12px 12px!important;
	color: #fff;
	top:0px!important;
	background:#63C!important;
	-webkit-transition: all 500ms ease; -moz-transition: all 500ms ease; -ms-transition: all 500ms ease; -o-transition: all 500ms ease; transition: all 500ms ease;
}

ul.sub-menu ul.sub-menu > li:first-child {
	border-top: 1px solid #444;
}

ul.sub-menu > li:last-child > a {
	border-radius: 0 0 2px 2px;
}

ul.sub-menu > li > a.parent {
	background-image: url(../images/arrow.png);
	background-size: 5px 9px;
	background-repeat: no-repeat;
	background-position: 95% center;
}

#main-menu li:hover > ul.sub-menu {
	display: block; /* show the submenu */
}

@media all and (max-width: 700px) {

	#navigation {
		position: absolute;
		top:53px;
		left:0px;
		z-index:999999;
		width:100%;
	}

	#menu-toggle {
		display: block;
	}

#main-menu {
display: none;
float: left;
padding-right: 20px;
width: 92%;
float: left;
margin: 0px;
border-radius:none!important;
}

	#main-menu li {
		display: block;
		margin: 0;
		padding: 0;
		width:100%;
	}

	#main-menu > li {
		margin-top: -1px;
		width:90%;
		margin-left:21px;
	}

	#main-menu > li:first-child {
		margin-top: 0;
	}

	#main-menu > li > a {
		color: #FFF;
		display: block;
		font-size: 14px;
		padding: 12px !important;
		padding: 0;
		width:94%;
		border-radius: 0px!important;
		margin-left:32px;
		background: #333!important;
		border-bottom:3px solid #FFF!important;
		width:90%!important;
	}

	#main-menu li > a:hover {
		background-color: #444;
	}

	#main-menu > li.parent {
		background: none !important;
		padding: 0;
	}

	#main-menu > li:hover > a,
	#main-menu > li.current-menu-item > a {
		border: 1px solid #444 !important;
		color: #fff !important;
	}

	ul.sub-menu {
		display: block;
		position: static;
		padding: 0;
		width: inherit;
		margin-left: 30px!important;
	}

	ul.sub-menu > li > a.parent {
		background: #333 !important;
	}
}


