@charset "utf-8";
@media screen and (min-width:768px) and (max-width:1053px){
.header_sub{ width:950px!important; margin: 12px auto 0; background: url("../images/header_top.png") no-repeat scroll center!important;}
.logo {height: 100px;width: 231px!important; padding-top: 0px!important;}
.logo img{ width:85%;}
.header_lower_right {width: 635px;}
.header_lower_right ul li a { padding: 16px 8px 17px;}
.header_lower_right ul li a:hover{padding:19px 8px;}
.slider {width: 635px!important; height: 278px;}
.content_right{ width:635px!important; float:right!important;}
.content { width: 950px!important;}
.content_welcome_sub {width: 290px!important;}
.img_welcome_sub {text-align: center!important;}
.metro_sub {padding: 17px 38px 12px!important;width: 240px;}
.metro div:nth-of-type(1){ background:#049bba;}
.metro div:nth-of-type(2){ background:#ff7308;}
.metro div:nth-of-type(3){ background:#1163b9;}
.metro div:nth-of-type(4){ background:#89b500;}
.metro div:nth-of-type(5){ background:#049bba;}
.metro div:nth-of-type(6){ background:#ff7308;}
.metro {min-height: 575px!important;}
.ad_bot {top: -14px!important;}
.footer_sub_left {width: 659px!important;}
.footer_sub {width: 950px!important;}
#footer {width: 99.9%!important;}
.copyright {
    font-size: 12px;
    font-weight: normal;
    margin-top: 20px;
    width: 100px!important;
	float:left!important;
}
.more_btn121{ color:#049bba;}
.more_btn122{ color:#ff7308;}
.more_btn123{ color:#049bba;}
.more_btn124{ color:#89b500;}
.more_btn125{ color:#049bba;}
.more_btn126{ color:#ff7308;}
}
@media (max-width :797px) {
	.header_sub{ width:750px!important; margin: 12px auto 0; background:none!important;}
	.logo img{ width:100%;}
.logo {height: 100px;width: 231px!important;}
.header_lower_right {width: 535px;}
.header_lower_right ul li a { padding: 16px 8px 17px; font-size:17px!important;}
.header_lower_right ul li a:hover{padding:19px 8px;}
.slider {width: 535px!important; height: 235px !important;}
.content_right{ width:535px!important; float:right!important;}
.content { width: 750px!important;}
.content_welcome_sub {width: 42% !important;}
.img_welcome_sub {text-align: center!important;}
.ad_bot{ display:none!important;}
.metro_sub {padding: 17px 38px 12px!important;width: 189px!important;}
.metro div:nth-of-type(1){ background:#049bba;}
.metro div:nth-of-type(2){ background:#ff7308;}
.metro div:nth-of-type(3){ background:#1163b9;}
.metro div:nth-of-type(4){ background:#89b500;}
.metro div:nth-of-type(5){ background:#049bba;}
.metro div:nth-of-type(6){ background:#ff7308;}
.metro {min-height: 575px!important;}
.ad_bot {top: -14px!important;}
.footer_sub_left,.footer_sub_right{
    text-align: center;
    width: 100% !important;
	margin-top:12px;
	float:left;
}
.news_sub2 {
    width: 90%!important;
	border-right:none!important;
	margin-left:12px;
}
.footer_sub {width: 750px!important;}
#footer {width: 99.9%!important;}
.copyright {
    font-size: 12px;
    font-weight: normal;
    margin-top: 20px;
    width: 100px!important;
	float:left!important;
}
.content_left {width: 200px!important;}
.newsletter input[type="text"]{ width:96%!important; margin-bottom:3px; padding:9px 5px!important;}
.newsletter input[type="submit"]{width:100%!important;}
.innerslider_left{ width:100%!important;text-align:center!important}
.innerslider_right{ width:100%!important;text-align:center!important}
.news_sub1{ width:100%!important; text-align:center!important}
.news_sub3{ width:100%!important;text-align:center!important}
.content_welcome_sub1 {
    width: 232px!important;
}
.img_welcome_sub1 img { margin:0 auto!important;}
.soci123_sub{margin-right: 143px!important;}
.footer_sub_left ul {
    min-width: 173px!important;
}
.content_welcome h1{ width:96%!important; float:left!important;}
.app123{display:none;}
.innerslider img{ margin-left:0px!important;}
.innerslider{ height:auto!important;}
}
@media (max-width :700px) {
	.header_sub{ width:570px!important; margin: 12px auto 0; background: none!important;}
.logo {height: 100px;width: 231px!important;}
.header_lower_right {width: 350px;}
.header_lower_right ul li a { padding: 16px 8px 17px;}
.header_lower_right ul li a:hover{padding:19px 8px;}
.slider {width: 350px!important;height: 312px!important;}
.content_right{ width:350px!important; float:right!important;}
.content_welcome_sub1 {
    width: 312px!important;
}
.img_welcome_sub1 img {
	text-align:center!important;
    width: 312px!important;
	height:247px!important;
}
.content_welcome_sub1 p {
    min-height: 170px!important;
}
.news_sub3 {
    width: 100%!important;
	text-align: center!important;
}

.read_more_sub1 a {
    margin-left: 149px!important;
}

.emotional_sub {
    text-align: center!important;
    width: 100%!important;
}
.content { width: 570px!important;}
.content_welcome_sub {width: 290px!important;}
.img_welcome_sub {text-align: center!important;}
.metro_sub {padding: 17px 38px 12px!important; width: 80%!important;}
.metro {min-height: 575px!important;}
.ad_bot {top: -14px!important;}
.footer_sub_left {width: 659px!important;}
.footer_sub {width: 570px!important;}
#footer {width: 99.9%!important;}
.copyright {
    font-size: 12px;
    font-weight: normal;
    margin-top: 20px;
    width: 100px!important;
	float:left!important;
}
.content_left {width: 200px!important;}
.dark {
    width: 88%!important;
}
.slider{display:none!important;}
.content_welcome h1 {
    background: none repeat scroll 0 0 #0096ff;
    border-radius: 5px;
    color: #fff;
    font-size: 21px;
    padding: 17px 12px;
	line-height:24px!important;
	margin-top:21px!important;
}
.news_sub1,.news_sub2 {
    float: left;
    padding: 3%;
    width: 95%!important;
}
.ad_bot{ display:none!important;}

.footer_sub_left {
    margin: 0 0 0 35px!important;
    width: 90% !important;
}
.footer_sub_left h3, .footer_sub_right h3 {
    color: #235bb9;
    font-size: 21px;
	text-align:center;
}
.footer_sub_left ul {
    min-width: 107px!important;
}
.footer_sub_right {
    float: left;
    margin-top: 32px;
    text-align: center;
    width: 90%!important;
}
.newsletter input[type="text"]{ width:96%!important; margin-bottom:3px; padding:9px 5px!important;}
.newsletter input[type="submit"]{width:100%!important;}
.img_welcome_sub1 img {
    height: 100% !important;
    text-align: center !important;
    width: 100% !important;
}
.more_btn121{ color:#049bba;}
.more_btn122{ color:#ff7308;}
.more_btn123{ color:#049bba;}
.more_btn124{ color:#89b500;}
.more_btn125{ color:#049bba;}
.more_btn126{ color:#ff7308;}
.soci123_sub{margin-right: 81px!important;}
.app123{display:none;}
.innerslider img{ margin-left:0px!important;}
.content_welcome h1{ width:96%!important; float:left!important;}
}
@media (max-width :500px) {
	.header_sub{ width:300px!important; margin: 12px auto 0; background: none!important;}
.logo {
    display: inline-block;
    font-size: 0;
    padding-top: 15px;
    margin-left: 40px!important;
}
.search {
    float: right;
    width: 235px;
    margin: 12px 30px 0px 0px;
}
.header_lower_right {width: 350px;}
.header_lower_right ul li a { padding: 16px 8px 17px;}
.header_lower_right ul li a:hover{padding:19px 8px;}
.slider {width: 350px!important;height: 312px!important;}
.content_right{ width:100%!important; float:right!important;}
.content { width: 90%!important;}
.content_welcome_sub {width: 90%!important;}
.img_welcome_sub {text-align: center!important;}
.metro_sub {padding: 17px 30px 12px!important;width: 80%; margin-top:12px!important;}
.metro {min-height: 575px!important;}
.ad_bot {top: -14px!important;}
.footer_sub_left {width: 659px!important;}
.footer_sub {width: 300px!important;}
#footer {width: 99.9%!important;}
.copyright {
    font-size: 12px;
    font-weight: normal;
    margin-top: 20px;
    width: 75%!important;
	float:left!important;
}
.content_left { width:100%!important; float:none!important; top: 12px!important;}

.dark {
    width: 74%!important;
	position:relative;
	top:-32px;
}
.left_sidebar1 h2{ background:url(../images/arw_down.png) center right no-repeat #58bf20;}
.pink h2{ background:url(../images/arw_down.png) center right no-repeat #c91fd8!important;}
.orange h2{ background:url(../images/arw_down.png) center right no-repeat #ff5500!important;}
.blue h2{ background:url(../images/arw_down.png) center right no-repeat #006dba!important;}
.green h2{ background:url(../images/arw_down.png) center right no-repeat #57bf20!important;}
.left_sidebar1 ul{ display:none;}

.slider{display:none!important;}
.content_welcome h1 {
    background: none repeat scroll 0 0 #0096ff;
    border-radius: 5px;
    color: #fff;
    font-size: 21px;
    padding: 17px 12px;
	line-height:24px!important;
	margin-top:21px!important;
}
.news_sub1,.news_sub2 {
    float: left;
    padding: 3%;
    width: 95%!important;
}
.ad_bot{ display:none!important;}

.footer_sub_left {
    margin: 0 0 0 35px!important;
    width: 90% !important;
}
.footer_sub_left h3, .footer_sub_right h3 {
    color: #235bb9;
    font-size: 21px;
	text-align:center;
	width:81%!important;
}
.footer_sub_left ul {
    min-width: 90%!important;
	border-right:none!important;
	border-bottom:1px dotted #DDD!important;
}
.footer_sub_right {
    float: left;
    margin-top: 32px;
    text-align: center;
	margin-left:29px!important;
    width: 90%!important;
}
.ad3 {
    text-align: center!important;
}
.content_welcome_sub1 {
    width: 90%!important;
}
.img_welcome_sub1 img {
    height: 100% !important;
    text-align: center !important;
    width: 100% !important;
}
.content_welcome_sub1 p {
    min-height: 230px!important;
}
.news_sub3 {
    width: 100%!important;
	text-align: center!important;
}

.read_more_sub1 a {

    margin-left: 40% !important;
}

.emotional_sub {
    text-align: center!important;
    width: 100%!important;
}
.ad3{ display:compact!important;} 
.metro div:nth-of-type(3){ background:#1163b9!important;}
.metro{ background:none!important;}
.newsletter input[type="text"]{ width:96%!important; margin-bottom:3px; padding:9px 5px!important;}
.newsletter input[type="submit"]{width:100%!important;}
/* .app123{display:none;} */
.ad_res123{ display:none!important; float:left;}
.ad_res1234{ display:block!important;}
.content_left{ float:right!important;}
.content_right{ float:left!important;}
.con_welcome_sub3 img{ float:center!important; margin:0 0 12px 12px!important;}
.img_text_link{ width:93%!important;}
}
